<div class="container-fluid text-center">
    <h1>Todo List by Aditya</h1>
  
<add-todo (todoAdd)="addTodo($event)"></add-todo>
@if(todos.length===0){
<p>Your todos are empty</p>
}
@else{
<div *ngFor="let todo of todos">
    <!--(todoDelete) is and event emitted by child component-->
    <todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoToggle)="toggleTodo($event)">
        <!--todo is the input property of todo-item component-->
        <!--todoDelete is the output property of todo-item component-->
        <!--todoToggle is the output property of todo-item component-->

        <h5 style="text-decoration: line-through;">{{todo.title}}</h5>
        <p class="text-center">{{todo.desc}}</p>
    </todo-item>
</div>
}
</div>